# .NET ile ilgili
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dbmdl
*.pdb
*.cache/
*.log

# Rider veya VS Code için
.idea/
.vscode/

# React ile ilgili
node_modules/
dist/
build/
.cache/
.next/
out/
*.log
*.env.local
*.env.*.local

# Tarayıcı cache veya local server dosyaları
.http/

# Çeşitli OS dosyaları
.DS_Store
Thumbs.db
